
// Custom color

$raisin-black: #1d1f24; 
$gunmetal : #2a2d34;
$roman-silver: #81868f;
$ghost-white: #F8F7FA;
$maximum-yellow: #F7CB4A;
$carmine-pink: #EB4142;
$cosmic-cobalt: #2E4688;
$han-blue: #4365C3;
$glitter: #E5E9F7;
$picton-blue: #3FCAE7;


//==========Fonts===============

//fonts-family

$font-family-headings:   'Cairo', sans-serif;
$font-family-body:       'Fira Sans', sans-serif;
$font-family-table: 	 'Fira Sans Condensed', sans-serif;


//font-sizes

$page-title-font-size: 68px;
$page-title-line-height: 96px;

$page-sub-title-font-size: 16px;
$page-sub-title-line-height: 36px;

$table-font-size: 14px;
$table-line-height: 28px;